/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-size: 12px;
}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
.units-container {
  width: 960px;
  margin: 0 auto;
}

kbd {
  margin: 5px 0 0 5px;
}

.uprava-hr + hr {
  margin-bottom: 5px;
}

/* =Header
-----------------------------------------------------------------------------*/


/* =Nav
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
